<div class="header-row row">
	<div class="pocky-header col-lg-3 col-lg-offset-1">
		<h1>Pocky</h1>
	</div>
</div>

<div class="main-row row">
	<div class="pocky-main col-lg-6 col-lg-offset-3">
		<h1>Monthly pocky delivered to your door.<br />
		What could be sweeter than that?</h1>

		<div class="sub-header lead">
			<p>Get a random box of pocky. A surprise every month.</p>
		</div>

		<div class="form-container col-lg-6 col-lg-offset-3">
			<form>
				<div class="input-group">
					<span class="input-group-addon glyphicon glyphicon-envelope"></span>
					<input type="email" class="form-control" placeholder="Email address">
				</div>
				<button type="submit" class="notify-button btn-block">Notify me when it's ready</button>
			</form>
		</div>
	</div>
</div>

<div class="info-row row">
	<div class="info-body col-lg-8 col-lg-offset-2">
		<h1>How it works</h1>

		<div class="info-image-container">
			<div class="col-lg-4">
				<p class="text-center"><img src="http://placehold.it/175x175" class="img-thumbnail"></p>
				<h3 class="text-center">Header One</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel iaculis nibh, ut aliquam turpis. Vestibulum est nunc, dapibus a mollis laoreet, volutpat quis metus.</p>
			</div>
			<div class="col-lg-4">
				<p class="text-center"><img src="http://placehold.it/175x175" class="img-thumbnail"></p>
				<h3 class="text-center">Header Two</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel iaculis nibh, ut aliquam turpis. Vestibulum est nunc, dapibus a mollis laoreet, volutpat quis metus.</p>
			</div>
			<div class="col-lg-4">
				<p class="text-center"><img src="http://placehold.it/175x175" class="img-thumbnail"></p>
				<h3 class="text-center">Header Three</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vel iaculis nibh, ut aliquam turpis. Vestibulum est nunc, dapibus a mollis laoreet, volutpat quis metus.</p>
			</div>
		</div>
	</div>
</div>